
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    font-size: 12px;
}
ul,ol{
    list-style: none;
}
/*清除浏览器默认样式�*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    background-color: transparent;
    font-family: "microsoft yahei";
}
/*img标签去掉默认边框*/
img {
    border: 0;
    vertical-align: middle;
}

a {
    color: #222;
    text-decoration: none;
}
a:focus{
    outline: none;
}
/*清除浮动系列*/
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}
/* 公共布局样式 */
.content{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}