<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>itc_mall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="互联运力、一票直达,一票到底,一次收费,让数字跑路,让车辆入库">
    <meta name="Keywords" content="运力票、空箱之家、空车之爱、租箱、售箱、配箱,互联运力">
    <link rel="stylesheet" href="./static/citypicker/city-picker.css">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script type="text/javascript" src="./static/jquery.1.8.3.min.js"></script>
    <script type="text/javascript" src="./static/citypicker/city-picker.data.js"></script>
    <script type="text/javascript" src="./static/citypicker/city-picker.js"></script>
    <script src="./static/js/vendor.dll.js"></script>
  </body>
</html>
